{% extends "layout.html" %}
{% block body %}

<form action="{{ url_for('actualizar_nodo', id=nodo.0) }}" method="POST">
  <label for="nodo">Nodo</label>
  <input type="text" name="nodo" id="nodo" value="{{ nodo.1 }}" required />

  <label for="servidor">Servidor</label>
  <input type="text" name="servidor" id="servidor" value="{{ nodo.2 }}" required />

  <label for="mqtt_usr">MQTT Usuario</label>
  <input type="text" name="mqtt_usr" id="mqtt_usr" value="{{ nodo.3 }}" required />

  <label for="mqtt_pass">MQTT Password</label>
  <input type="password" name="mqtt_pass" id="mqtt_pass" placeholder="Nueva contraseña o la misma" required />

  <label for="mqtt_puerto">MQTT Puerto</label>
  <input type="number" name="mqtt_puerto" id="mqtt_puerto" value="{{ nodo.5 }}" required />

  <button type="submit">Actualizar Nodo</button>
</form>

{% endblock %}
