{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-md-7 mx-auto">
    <div class="card card-body">
      

            <!-- Línea: Botón Setpoint + input -->
      <div class="mb-3 d-flex align-items-center">
        <button class="btn btn-primary me-2" type="button">Setpoint</button>
        <input type="number" class="form-control" placeholder="Valor del setpoint">
      </div>

      <!-- Línea: Botón Destello -->
       <form method="POST" action="{{ url_for('publicar_destello') }}">
        <button class="btn btn-success w-100" type="submit">Destello</button>
      </form>

      <!-- Línea: Lista de radio buttons -->
      <div class="mb-3">
        <label for="opciones" class="form-label">Opciones:</label>
        <select class="form-select" id="opciones" name="opciones">
          <option value="1">Opción 1</option>
          <option value="2">Opción 2</option>
          <option value="3">Opción 3</option>
        </select>
      </div>


    </div>
  </div>
</div>

{% endblock %}
